@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --light: 255, 255, 255;
        --dark: 24, 24, 27;
        --primary: 237, 29, 46;
    }
}
/* :root {
    --section-spacing: 60px;
} */
.y-space {
    padding-block: var(--section-spacing);
}

section, footer, header {    
    padding-inline: 1.5rem;
    padding-block: 8rem;
    @media screen and (min-width: 768px) {
        padding-inline: 3rem;
    }
    @media screen and (min-width: 1536px) {
        padding-inline: 0;
    }
}

.main-projects {
    padding-inline: 1.5rem;
    @media screen and (min-width: 768px) {
        padding-inline: 3rem;
    }
    @media screen and (min-width: 1536px) {
        padding-inline: 0;
    }
}
.banner-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .f-grid *:first-of-type {
        grid-column: span 2;
    }


    .f-grid img:first-of-type {
        aspect-ratio: 16/9;
    }
}