--- 
import { Image } from "astro:assets";
import { Icon } from 'astro-icon/components'

import BaseLayout from "../layouts/BaseLayout.astro"
import portrait03 from "../assets/portrait03.jpg"
---

<BaseLayout>
    <section class="m-auto max-w-screen-xl w-full">
        <div class="text-lg md:text-2xl mb-20">
            <p><span class="uppercase font-bold">Hola!</span> I'm a seasoned Graphic Designer hailing from the beautiful island of Puerto Rico <Icon name="puerto-rico-flag" class="inline align-middle"/>, now calling the vibrant city of Dallas, TX my home.  My design journey has been enriched with diverse projects and creative challenges.</p>
        </div>
        <div class="flex gap-12 flex-col lg:flex-row">
            <div class="text-lg order-2">
                <p class="mb-4">With a deep-rooted passion for technology and web design, I love crafting eye-catching designs using the latest tools and methods. My mission? To create visually stunning branding materials that not only grab attention but also help businesses soar to new heights.</p>
                <p class="mb-4">I've had the pleasure of working across a variety of industries—from insurance and mortgage to financial services and advertising agencies. This diverse experience has given me a unique perspective and a versatile skill set, allowing me to adapt and excel in any environment.</p>   
                <p class="mb-4">One of my favorite things about being a designer is the opportunity to help my team. I thrive on collaboration, always eager to optimize procedures and bring innovative ideas to the table. Whether it's brainstorming the next big campaign or tweaking the tiniest details to perfection, I'm all in.</p>
                    
                <p class="mb-4">When I'm not designing, you'll probably find me exploring the latest tech trends, experimenting with new design techniques, or enjoying the vibrant culture of Dallas. I believe that a friendly attitude and a good sense of humor go a long way, so let's create something amazing together!</p>
            </div>
            <Image src={portrait03} alt="aris mercedes portrait" width="1200" height="600" class="object-cover order-1 lg:order-2 lg:max-w-96"></Image>
        </div>
    </section>
</BaseLayout>
