---
import BaseLayout from "../layouts/BaseLayout.astro"
import Project from "../components/ProjectCard.astro"
import Grid from "../components/Grid.astro"
import Button from "../components/Button.astro"
import ProjectCard from "../components/ProjectCard.astro"

import { getCollection, getEntry } from 'astro:content';

const allProjects = await getCollection('projects');
const numberOfProjects = 5;
const featuredProjects = allProjects.slice(0,numberOfProjects);
---
<BaseLayout>
	<main>
		<section class="hero-section flex">
			<div class="m-auto max-w-screen-xl w-full">
				<p class="text-2xl md:text-3xl mb-[.5em]">Hi! I'm Aris Mercedes</p>
				<h1 class="text-4xl md:text-8xl font-bold text-crimson-600">Graphic Designer <br><span class="text-black">Based in Dallas TX</span></h1>
				<p class="text-md md:text-xl mt-[1.5em] mb-[2em] max-w-full w-[60ch]"> Dive into my portfolio to explore vibrant designs that blend creativity with precision. Discover how my expertise can contribute to the success of your creative team.</p>
				<Button classes="" url="#work" theme="primary">View Work</Button>
			</div>
		</section>

		<section class="portfolio-section bg-slate-50">
			<h2 id="work" class="mb-12 font-bold text-3xl sm:text-5xl text-center">Featured Work</h2>
			<Grid classes="f-grid max-w-screen-xl m-auto">
				{featuredProjects.map((project) => (
					<ProjectCard title={project.data.title} type={project.data.type} url={"/projects/" + project.data.url} thumbnailUrl={Astro.url.origin + "/" + project.data.thumbnail.src} thumbnailAlt={project.data.thumbnail.alt}/>
				))}
			</Grid>

		</section>

		<section class="">
			<h2 class="mb-12 font-bold text-3xl sm:text-5xl text-center">Contact</h2>
		</section>
	</main>
</BaseLayout>

<style lang="scss">
	section {
		// max-width: 1280px;
		margin-inline: auto;
	}
	.hero-section {
		height: calc(100vh - 116px);
	}
</style>
