---
import { Icon } from 'astro-icon/components'
import LinkButton from "../components/LinkButton.astro"
const indexPath = Astro.url.origin;
---
<header class="header-nav py-8 max-w-screen-xl m-auto">
    <span id="nav-label" hidden>Navigation</span>
    <nav id="nav" class="flex justify-between items-center gap-10" aria-labelledby="nav-label">
        <a href="/"><Icon name="am-logo" class="text-4xl text-crimson-600"/></a>
        <btn id="burger-btn" class="burger-btn  flex flex-col gap-1.5 hover:cursor-pointer" aria-expanded="false">
            <span class=" block bg-black h-1 w-8"></span>
            <span class=" block bg-black h-1 w-8"></span>
            <span class=" block bg-black h-1 w-8"></span>
        </btn>
        <div role="dialog" class="nav-menu items-center gap-10" aria-labelledby="nav-label">
            <ul class="nav-links flex flex-col lg:flex-row gap-10 capitalize text-lg">
                <li><a href="/" class="font-semibold hover:text-crimson-600 transition-colors duration-300 ease-in-out">home</a></li>
                <li><a href="/work" class="font-semibold hover:text-crimson-600 transition-colors duration-300 ease-in-out">work</a></li>
                <li><a href="/about" class="font-semibold hover:text-crimson-600 transition-colors duration-300 ease-in-out">about</a></li>
            </ul>
            <LinkButton classes="self-center md:self-baseline" url="/contact" theme='dark' size='sm'>Contact</LinkButton>
        </div>
    </nav>
</header>


<style>
    header {
        .nav-menu {
            display: flex;
        }

        @media (width < 1024px)  {            
            .nav-menu {
                position: fixed;
                display: none;
                flex-direction: column;
                inset: 0;
                @apply bg-zinc-900;
                align-self: center;

            }
            .burger-btn {

            }
        }
        @media (width >= 1024px) {
            .burger-btn {
                display: none;
            }
        }
    }
    .menu-open {
        position: fixed;
        inset: 0;
        @apply bg-zinc-900;
        color: white;
        z-index: 10;
        .nav-menu {
            display: flex;
        }
        ul, .contact-btn {
            font-size: 2rem;
        }
        .contact-btn {
            padding-block: 1.5rem;
        }
        span {
            @apply bg-white;
        }
        [data-icon="am-logo"] {
            @apply text-white
        }
        .btn {
            color: white;
            border-color: white;
        }
    }
    
</style>


<script>
    const navLinks = document.querySelector(".nav-links") as HTMLElement
    const header = document.querySelector(".header-nav") as HTMLElement
    const burgerBtn = document.getElementById("burger-btn")
    function openMobileMenu() {
        if(burgerBtn?.getAttribute('aria-expanded') === 'false') {
            burgerBtn?.setAttribute('aria-expanded', 'true');
            header.classList.toggle("menu-open");
            document.body.style.overflow = "hidden";
        }
        else {
            burgerBtn?.setAttribute('aria-expanded', 'false');
            header.classList.toggle("menu-open")
            document.body.style.overflow = "auto";

        }
    }

    burgerBtn?.addEventListener("click", openMobileMenu)
</script>