---
import { Image } from "astro:assets";
---
<div class="flex flex-col project"> 
    <a href=""><Image src="https://placehold.co/1200x600" alt="" width="1200" height="600"/></a>
    <h3 class="text-3xl font-bold mt-8">Project Title</h3>
    <p class="text-sm uppercase mt-2">Project Description</p>
    <a href="#" class="text-lg mt-4 underline underline-offset-4">View Work</a>
</div>

<style>
    img {
        object-fit: cover;
        width: 100%;
        aspect-ratio: 4/3;
    }
</style>
